div(x-data="{ open: false, paths: [] }")
  button(@click="open = true").flex.cursor-pointer.text-black.rounded-full.bg-white.py-2.px-4.text-lg.text-black.flex-1.shadow-md.w-full
    span.text-center.w-full View files

  div(x-show="open" x-cloak class="fixed z-10 inset-0 overflow-y-auto" x-on:click.outside="open = false")
    div(class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0")
      div(class="fixed inset-0 transition-opacity")
        div(class="absolute inset-0 bg-gray-500 opacity-75")
      div(class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6" x-on:click.outside="open = false")
        h2(class="text-lg leading-6 font-medium text-gray-900 mb-4") File List
            each line in tree
                p(class="text-sm text-gray-500 whitespace-pre" style="white-space: pre")
                    | #{line}
        button(@click="open = false", class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded")
          | Close
