.flex.flex.gap-2
  .flex.flex-col(x-data="notifications").relative
    a(x-on:click="open = !open").text-button.small.flex.gap-2.items-center.cursor-pointer
      i(data-feather="bell")
      span(x-text="notifications.length")
    .relative.flex.flex-col.items-center(x-show="open" x-cloak x-on:click.outside="open = false")
      .absolute.top-0.flex.flex-col.items-center.mt-2
        .w-5.h-5.-mb-3.rotate-45.bg-white.shadow-md
        .relative.z-10.bg-white.w-80.shadow-md.rounded-lg.text-black
          .flex.justify-between.items-center.p-2
            h2 Notifications
            a(x-on:click="readNotifications()").cursor-pointer
              i(data-feather="check")
          hr.border-gray-200
          .h-80.overflow-y-scroll.divide-y.divide-gray-200
            template(x-if="notifications.length > 0")
              template(x-for="notification in notifications")
                div
                  template(x-if="notification.link")
                    a(:href="notification.link" class="hover:bg-gray-200 block no-underline")
                      div.p-2
                        h3.text-2xl(x-text="notification.title")
                        p(x-text="notification.body")
                        p.text-sm.text-gray-600(x-text="new Intl.DateTimeFormat('pt-PT').format(new Date(notification.createdAt))")
                  template(x-if="notification.link == undefined")
                    div.p-2
                      h3.text-2xl(x-text="notification.title")
                      p(x-text="notification.body")
                      p.text-sm.text-gray-600(x-text="new Intl.DateTimeFormat('pt-PT').format(new Date(notification.createdAt))")
            template(x-if="notifications.length == 0")
              p.p-2 No notifications

  .flex.flex-col.gap-2(x-data="{open: false}").relative
    a(x-on:click="open = !open").text-button.small.flex.gap-2.items-center.cursor-pointer
      | #{user.name}
      i(data-feather="chevron-down")
    .absolute.bg-white.shadow-lg.rounded-md.text-black.p-2.flex.flex-col.gap-2.items-center.text-sm.mt-10.w-full.origin-top-right.right-0.text-center(x-cloak x-show="open" x-on:click.outside="open = false")
      a.text-black(href=`/user/edit`) Edit profile
      if user.level == "admin"
        a.text-black(href="/notifications/new") Send notification
        a.text-black(href="/admin") Admin panel
      a.text-black(href="/logout") Logout

script.
  document.addEventListener('alpine:init', () => {
    Alpine.data('notifications', () => {
      return {
        open: false,
        notifications: !{JSON.stringify(notifications)},
        readNotifications() {
          fetch('/notifications/read').then(() => {
            console.log("Cleared!")
          })

          this.notifications = [];
        }
      }
    })
  })