extends layout

block nav
  h2 Add resource

block content
  form(method='POST' enctype='multipart/form-data').flex.flex-col
    fieldset.contents.mb-6
      legend.text-2xl Resource
      .flex.flex-col.mb-4
        label
          b Select file
        input(type='file' name='resource', required='required')
      .flex.flex-col.mb-4
        label
          b Titulo
        input(type='text' name='title', required='required')
      .flex.flex-col.mb-4
        label
          b Subtitulo
        input(type='text' name='subtitle')
      .flex.flex-col.mb-4
        label
          b Descrição
        textarea(name='description')
      .flex.flex-col.mb-4
        label
          b Tipo de Recurso
        select(name='type', required='required')
          option(value='report') Relatório
          option(value='thesis') Tese
          option(value='article') Artigo
          option(value='book') Livro
          option(value='slides') Apresentação
          option(value='test') Teste
          option(value='solved_exercise') Problema Resolvido
          option(value='application') Aplicação
          option(value='other') Outro
      .flex.flex-col.mb-4
        label
          b Data Criação
        input(type='date' name='creationDate', required='required')
    fieldset.contents.mb-6
      legend.text-2xl Visibilidade
      .flex.flex-col.mb-4
        .flex.gap-2
          input(type='radio' name='visibility' value='public' checked='checked')
          label(for='public') Público
        .flex.gap-2
          input(type='radio' name='visibility' value='private')
          label(for='private') Privado
    .flex.flex-col.mb-4
      label
        b Autor
      input(type='text' name='author')
    .flex.flex-col.mb-4
      label
        b Hashtags
      input(type='text' name='hashtags')
    input.button(type='submit' value='Send')