doctype html
html
  head
    title LearnVault
    link(rel='stylesheet', href='/stylesheets/dist.css')
    script(src='/js/alpine.js' defer)
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    if alerts
      .alerts
      each alert in alerts
        .alert=alert
    nav.flex.bg-primary-700.p-4.text-white.shadow-md.items-center.justify-between.mb-4
      div
        block nav
      .flex.items-center
        if user
          include components/userMenu
        else
            a(href='/login').text-button.small Login
    .container.mx-auto.px-4
      block content

    script(src='/js/feather.min.js')
    script 
      | feather.replace()
