doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if alerts
      .alerts
      each alert in alerts
        .alert=alert
    block content
